py-cord[speed]
python-dotenv
pycryptodome
ujson
orjson
tomli-w
aiomultiprocess
jellyfish
tld
better-profanity
git+https://github.com/greeeen-dev/weasel.git
aiohttp[speedups]
argon2-cffi
psutil
git+https://github.com/greeeen-dev/capacitor.git
